* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1440px;
  --container-padding: 15px;
  --colum-space: 20px;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--colum-space) / 2);
}

.row [class^="col-"] {
  --col-width: calc(100% / (12 / var(--col-number)));
  flex-basis: var(--col-width);
  max-width: var(--col-width);
  padding: 0 calc(var(--colum-space) / 2);
  margin-bottom: var(--colum-space);
}

.col-1 {
  --col-number: 1;
}

.col-2 {
  --col-number: 2;
}

.col-3 {
  --col-number: 3;
}

.col-4 {
  --col-number: 4;
}

.col-5 {
  --col-number: 5;
}

.col-6 {
  --col-number: 6;
}

.col-7 {
  --col-number: 7;
}

.col-8 {
  --col-number: 8;
}

.col-9 {
  --col-number: 9;
}

.col-10 {
  --col-number: 10;
}

.col-11 {
  --col-number: 11;
}

.col-12 {
  --col-number: 12;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    --col-number: 1;
  }
  .col-sm-2 {
    --col-number: 2;
  }
  .col-sm-3 {
    --col-number: 3;
  }
  .col-sm-4 {
    --col-number: 4;
  }
  .col-sm-5 {
    --col-number: 5;
  }
  .col-sm-6 {
    --col-number: 6;
  }
  .col-sm-7 {
    --col-number: 7;
  }
  .col-sm-8 {
    --col-number: 8;
  }
  .col-sm-9 {
    --col-number: 9;
  }
  .col-sm-10 {
    --col-number: 10;
  }
  .col-sm-11 {
    --col-number: 11;
  }
  .col-sm-12 {
    --col-number: 12;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    --col-number: 1;
  }
  .col-md-2 {
    --col-number: 2;
  }
  .col-md-3 {
    --col-number: 3;
  }
  .col-md-4 {
    --col-number: 4;
  }
  .col-md-5 {
    --col-number: 5;
  }
  .col-md-6 {
    --col-number: 6;
  }
  .col-md-7 {
    --col-number: 7;
  }
  .col-md-8 {
    --col-number: 8;
  }
  .col-md-9 {
    --col-number: 9;
  }
  .col-md-10 {
    --col-number: 10;
  }
  .col-md-11 {
    --col-number: 11;
  }
  .col-md-12 {
    --col-number: 12;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    --col-number: 1;
  }
  .col-lg-2 {
    --col-number: 2;
  }
  .col-lg-3 {
    --col-number: 3;
  }
  .col-lg-4 {
    --col-number: 4;
  }
  .col-lg-5 {
    --col-number: 5;
  }
  .col-lg-6 {
    --col-number: 6;
  }
  .col-lg-7 {
    --col-number: 7;
  }
  .col-lg-8 {
    --col-number: 8;
  }
  .col-lg-9 {
    --col-number: 9;
  }
  .col-lg-10 {
    --col-number: 10;
  }
  .col-lg-11 {
    --col-number: 11;
  }
  .col-lg-12 {
    --col-number: 12;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    --col-number: 1;
  }
  .col-xl-2 {
    --col-number: 2;
  }
  .col-xl-3 {
    --col-number: 3;
  }
  .col-xl-4 {
    --col-number: 4;
  }
  .col-xl-5 {
    --col-number: 5;
  }
  .col-xl-6 {
    --col-number: 6;
  }
  .col-xl-7 {
    --col-number: 7;
  }
  .col-xl-8 {
    --col-number: 8;
  }
  .col-xl-9 {
    --col-number: 9;
  }
  .col-xl-10 {
    --col-number: 10;
  }
  .col-xl-11 {
    --col-number: 11;
  }
  .col-xl-12 {
    --col-number: 12;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding: 0;
  }

  .col-xxl-1 {
    --col-number: 1;
  }
  .col-xxl-2 {
    --col-number: 2;
  }
  .col-xxl-3 {
    --col-number: 3;
  }
  .col-xxl-4 {
    --col-number: 4;
  }
  .col-xxl-5 {
    --col-number: 5;
  }
  .col-xxl-6 {
    --col-number: 6;
  }
  .col-xxl-7 {
    --col-number: 7;
  }
  .col-xxl-8 {
    --col-number: 8;
  }
  .col-xxl-9 {
    --col-number: 9;
  }
  .col-xxl-10 {
    --col-number: 10;
  }
  .col-xxl-11 {
    --col-number: 11;
  }
  .col-xxl-12 {
    --col-number: 12;
  }
}

/*# sourceMappingURL=grid.css.map */
