.hero {
  padding: 0 10px;
  > .row {
    > [class^="col-"] {
      &:last-child {
        background: #dcffca;
      }
    }
  }
  .hero-inner {
    padding: 15px 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 4rem;
      font-weight: 800;
      text-align: center;
    }

    h2 {
      font-size: 5rem;
      font-weight: 800;
      margin: 15px 0;
      line-height: 1.1;
      text-align: center;
    }
  }
  .hero-image {
    display: flex;
    padding: 77px 0;

    .text-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      // margin-left: -100px;
    }

    span {
      font-size: 5rem;
      font-weight: 800;
      opacity: 0.15000000596046448;
      color: #216000;
      rotate: 90deg;
      display: block;
      line-height: 5rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .hero {
    .hero-image {
      span {
        font-size: 9rem;
        line-height: 9rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hero {
    .hero-inner {
      width: 80%;
      padding: 0;
      h1,
      h2 {
        text-align: left;
      }
    }
    .hero-image {
      .text-wrap {
        margin-left: -100px;
      }

      span {
        font-size: 13rem;
        line-height: 13rem;
      }

      > .row {
        > [class^="col-"]:first-child {
          margin-left: -100px;
        }
      }
    }
  }
}
