$sizes: 0, 25, 50, 75, 100;

@each $size in $sizes {
  .w-#{$size} {
    width: $size * 1%;
  }

  .h-#{$size} {
    height: $size * 1%;
  }
}

.container {
  --container-width: 1200px;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.btn {
  color: #fff;
  padding: 13.333px 11.667px;
  font-weight: 700;
  border-radius: 6.667px;

  &.btn-primary {
    background: $primaryColor;
  }

  &.btn-secondary {
    background: $secondaryColor;
  }

  &.btn-dark {
    background: $textColor;
  }

  &.btn-block {
    display: block;
  }
}
